*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg{
  
  background: rgb(180,58,58);
  background: linear-gradient(6deg, rgba(180,58,58,1) 0%, rgba(253,89,29,1) 55%, rgba(0,0,0,1) 100%);
}
